* {
    padding: 0;
    margin: 0;
}

body, html, #mapid {
    height:100%;
    width:100%;
}

#draw-container {
    position: absolute;
    top:0;
    left:0;
    color:white;
    pointer-events: none;
    z-index: 999;
}
#draw {
    background:#222;
    pointer-events: all;
}

#mapid.mode-create {
    cursor: crosshair !important;
}

#mapid.mode-delete {
    cursor: no-drop !important;
}